.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 2;
    flex-direction: column;
    gap: 11px;
}

.dialog {
    position: absolute;
    left: calc(50% - 170px);
    top: calc(50% - 27.5px);
}

::backdrop {
    backdrop-filter: blur(5px);
}

.img {
    width: 50px;
}

.ul {
    display: flex;
    gap: 10px;
    padding: 11px;
}

.li {
    list-style: none;
}