.ul {
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 10px;
    padding: 10px;
}

.main {
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.tableContainer {
    display: flex;
    align-items: stretch;
    justify-content: center;
}

.table {
    width: 1250px;
    justify-self: center;
    align-self: center;
}

.tr th {
    font-weight: 800;
    font-size: 1.5rem;
}
.tr:nth-child(3) {
    background-color: rgba(128, 128, 128, .1);
}

.tr2 th {
    padding: .3rem;
}

.tbody .tr2:nth-child(odd) {
    background-color: gray;
}