@keyframes bounce {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(var(--bounce-offset));
    }
}

@keyframes hide {

}

.animation {
  display: flex;
  /* min-height: 300px; */
  padding: 100px  50px 0 5px;
  justify-content: center;
  align-items: end;
}

.animation section {
    display: flex;
  gap: 16px;
    height: 50%;
}

.box {
    animation: bounce alternate infinite cubic-bezier(0.2, 0.65, 0.6, 1);
    width: 75px;
    height: 75px;
    background: slateblue;
    padding: 8px;
    display: grid;
    place-content: center;
    color: white;
    text-align: center;
    border-radius: 50%;
}
.one {
    composes: box;
    --bounce-offset: -80px;
    animation-duration: 300ms;
}
.two {
    composes: box;
    --bounce-offset: -90px;
    animation-duration: 400ms;
}
.three {
    composes: box;
    --bounce-offset: -100px;
    animation-duration: 500ms;
}

.main {
    padding: 25px;
    align-self: center;
    margin: 0 auto;
}

.title {
    font-size: 3rem;
    padding: 2rem;
    line-height: 100%;
}

.description {
    padding: 1rem;
}

.description span {
    text-align: start;
    display: block;
    margin: 5px 0;
}
