.main {
    padding: 30px;
}

.gameContainer {
    display: flex;
    flex-direction: column;
}

.gameContainer h2 {
    text-align: start;
    font-size: 2rem;
}

.ul {
    padding: 75px;
    display: flex;
    gap: 75px;
    flex-wrap: wrap;
    align-self: center;
}

.img {
    transform: rotateZ(45deg);
    width: 300px;
    transition: transform .5s;
    box-shadow: black 3px 5px;
}

.img:hover {
    transform: rotateZ(0deg) scale(1.5);
}

.multiplayerBox {
    padding: 35px;
    border: 3px solid gray;
}

.button {
    padding: 20px 40px;
    font-size: 3rem;
    background-color: #1877F2;
    border-radius: 10px;
    box-shadow: black 3px 5px;
}

.button:active {
    box-shadow: black 3px 2px;
}

.button:hover::after {
    content: "click to connect for play against other players and play more than 33 whole different levels";
    padding: 10px;
    border: 1px dashed red;
    background-color: white;
    color: black;
    font-size: 1rem;
    position: absolute;
    transform: translateX(-380px) translateY(-100px);
}


.instruction {
    padding: 15px;
}

.instruction h2 {
    margin: 7px 0;
}

.instruction ul {
    padding: 20px;
    margin: 0 0 0 30px;
}
.li {
    font-family:  cursive, 'Courier New', Courier, monospace;
    list-style: none;
    text-align: start;
}

@media screen and (max-width: 1000px) {
    .img {
        width: 150px;
    }
    
    .ul {
        padding: 75px 30px;
    }
}

